tar{
    text-align: right;
}
/**/

.icon-group{
    display: inline-block;
    margin: 0 15px;
}
/*word ellipsis*/
.word-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*form*/
.form-control {
    display: block;
    box-sizing: border-box;
    height: 34px;
    padding: 0 0 0 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #1a1a1a;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*Button*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.clearfix {
    zoom: 1;
}
.clearfix:before,.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}